.EventViewComponent {
	gap: 60px;
	display: grid;
	grid-template-columns: minmax(20rem, 1fr) 2fr;

	img.banner {
		width: 100%;
		height: 100%;
		border-radius: 40px;
		object-fit: cover;
	}

	.details {
		padding: 30px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.top {
			.heading {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 16px;

				.name {
					font-size: 36px;
					font-weight: 700;
				}

				.status {
					font-weight: 600;

					&.Approved {
						color: green;
					}
					&.Pending {
						color: #ffae00;
					}
					&.Rejected {
						color: red;
					}
				}
			}

			.description {
				font-size: 18px;
				color: var(--slate2-color);
			}

			.additional {
				margin-top: 50px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.timings {
					.date,
					.time {
						gap: 15px;
						display: flex;
						align-items: center;
						padding: 6px 0;

						* {
							color: var(--slate2-color);
						}

						i {
							font-size: 17px;
						}
						span {
							cursor: pointer;
							font-weight: 600;
							font-size: 18px;
						}
					}
				}

				.cta {
					display: flex;
					align-items: center;
					justify-content: center;

					width: 70px;
					height: 70px;
					cursor: pointer;

					border-radius: 1.2rem;
					background: var(--primary-color);

					&:hover {
						transform: scale(1.05);
					}
				}
			}
		}

		.bottom {
			.actions {
				gap: 10px;
				display: flex;
				align-items: center;
				margin: 60px 0;

				.action {
					gap: 10px;
					display: flex;
					align-items: center;
					cursor: pointer;
					font-weight: 600;
					padding: 10px 40px;
					border-radius: 1.2rem;

					&:first-of-type {
						background: var(--primary-color);
					}
				}
			}

			.organizer {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.place {
					gap: 12px;
					display: flex;
					align-items: center;

					i {
						font-size: 22px;
					}
					span {
						font-size: 16px;
						font-weight: 600;
					}
				}
			}
		}
	}
}
