main {
	display: grid;
	grid-template-rows: min-content 1fr;

	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	height: 100vh;

	.Route {
		height: 100%;
		overflow-y: auto;
		padding: 30px 60px;

		transform-origin: 50% 50%;
		transition-duration: 100ms;
		transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}
}
