.DropdownComponent {
	.trigger {
		gap: 12px;
		display: flex;
		align-items: center;
		cursor: pointer;

		.text {
			font-weight: 500;
		}

		i {
			font-size: 14px;
		}
	}

	.expansion {
		display: none;
	}
}
