.LoadingIndicatorComponent {
   $size: 1.5rem;

   border: calc(#{$size} / 7) solid var(--highlight-color, #fff);
   border-top: calc(#{$size} / 7) solid var(--text-color, #000);
   border-radius: 50%;
   width: $size;
   height: $size;
   animation: spin 1s linear infinite;

   display: inline-block;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
