.UserComponent {
	gap: 10px;
	display: flex;
	align-items: center;

	img {
		width: 45px;
		height: 45px;
		border-radius: 100%;
	}

	.info {
		display: flex;
		flex-direction: column;

		.name {
			font-size: 16px;
			font-weight: 700;
		}

		.role {
			font-size: 14px;
		}
	}

	&.short {
		img {
			width: 28px;
			height: 28px;
		}

		.info {
			display: none;
		}
	}
}
