@import "./Styles/Icons.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	font-family: Poppins, Public Sans;
	color: var(--slate1-color);
	border-color: var(--highlight-color);
	transition: all 150ms ease-in-out;
	user-select: none;
	scroll-behavior: smooth;
	// -webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
	letter-spacing: -0.1px;
	outline: none;
}

html,
body {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	transition: none;
	overflow: hidden;
	background-color: var(--background-color);
}

#root {
	height: 100vh;
	overflow: hidden;
}

i {
	margin-top: -1px;
	margin-right: -1px;
	display: inline-flex;

	&.bold {
		&::before {
			font-weight: 700 !important;
		}
	}

	&.blank {
		width: 11px;
	}
}

a {
	text-decoration: none;
}

input,
textarea {
	width: 100%;
	border: 2px solid var(--highlight-color);

	padding: 15px 25px;
	border-radius: 1rem;
	font-size: 1.1rem;
	outline: none;

	&:focus {
		border: 2px solid var(--primary-color);
	}
}
